{% block datasource_render_attributes %}
{% for name, attribute in attributes %}
 {% spaceless %}{{ name }}="{{ attribute }}"{% endspaceless %}
{% endfor %}
{% endblock %}

{% block datasource_filter %}
{% spaceless %}
    {% for field in fields %}
        {{ datasource_field_widget(field, vars) }}
    {% endfor %}
{% endspaceless %}
{% endblock %}

{% block datasource_field %}
{% spaceless %}
    {% if form is not empty %}
        <div{{ datasource_render_attributes(filter_wrapper_attributes) }}>
            {% for child in form.children %}
                {% for subchild in child.children %}
                    {{ form_label(subchild) }}
                    {{ form_errors(subchild) }}
                    {{ form_widget(subchild) }}
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block datasource_anchor %}
{% spaceless %}
<a{% if attributes.href is not defined %} href="{{ url(route, additional_parameters|merge(parameters)) }}"{% endif %}{{ datasource_render_attributes(attributes) }}>{{ content|raw }}</a>
{% endspaceless %}
{% endblock %}

{% block datasource_pagination %}
{% spaceless %}
<ul{{ datasource_render_attributes(wrapper_attributes) }}>
    <li{% if current == first %} class="{{ disabled_class }}"{% endif %}>
        <a href="{% if current != first %}{{ first_url }}{% else %}#{% endif %}">{{ 'datasource.pagination.first'|trans({}, translation_domain) }}</a>
    </li>
    <li{% if current == first %} class="{{ disabled_class }}"{% endif %}>
        <a href="{% if current != first %}{{ prev_url }}{% else %}#{% endif %}">{{ 'datasource.pagination.prev'|trans({}, translation_domain) }}</a>
    </li>
    {% for page, url in pages_urls %}
        <li{% if current == page %} class="{{ active_class }}"{% endif %}>
            <a href="{% if current != page %}{{ url }}{% else %}#{% endif %}">{{ page }}</a>
        </li>
    {% endfor %}
    <li{% if current == last %} class="{{ disabled_class }}"{% endif %}>
        <a href="{% if current != last %}{{ next_url }}{% else %}#{% endif %}">{{ 'datasource.pagination.next'|trans({}, translation_domain) }}</a>
    </li>
    <li{% if current == last %} class="{{ disabled_class }}"{% endif %}>
        <a href="{% if current != last %}{{ last_url }}{% else %}#{% endif %}">{{ 'datasource.pagination.last'|trans({}, translation_domain) }}</a>
    </li>
</ul>
{% endspaceless %}
{% endblock %}
